ENV=dev
PORT=3000
DB_CONNECTION_INTERVAL=5000
DATABASE_URI_DEV=postgresql://user:password@host:6543/dev_db
DATABASE_URI_PROD=postgresql://user:password@host:6543/prod_db
RABBITMQ_URL=amqps://user:password@host/vhost
RABBITMQ_QUEUE_DEV=firewall-rules-queue
RABBITMQ_QUEUE_PROD=firewall-rules-queue-prod